body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #dd6262;
    text-shadow: black 1px 0px 1px;
}

h1, h2 {
    text-align: center;
}

#filter-input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 300px;
    font-size: 16px;
}

#heroes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.hero-item {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.favorite-btn {
    margin-top: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.favorite-btn.active {
    background-color: #f5a623;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    font-size: 18px;
    margin: 5px 0;
}
.hero-image-container {
    position: relative;
    display: inline-block;
}

.hero-hover-info {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
}
